<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Duration</th>
      <th>Rate</th>
      <th>Total Cost</th>
      <th>
        <%= link_to "New Card", new_card_path, class: 'btn btn-primary' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <%= content_tag_for(:tr, card) do %>
        <td><%= link_to card.name, card_path(card) %></td>
        <td><%= number_with_precision card.total_duration, precision: 2 %></td>
        <td><%= card.rate %></td>
        <td><%# TODO #2 %></td>
        <td>
          <%= link_to "Edit", edit_card_path(card), :class => 'btn btn-mini' %>
          <%= link_to "Delete", card_path(card),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-mini btn-danger" %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
