<div class="page-header">
  <div class="row">
    <h1 class="span9"><%= @card.name %> <small><%= number_to_currency @card.rate, precision: 0 %></small></h1>
    <div class="span3">
      <%= link_to "Edit", edit_card_path(@card), class: 'btn' %>
      <%= link_to "Delete", card_path(@card),
        method: 'delete',
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger' %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Edit", edit_card_path(@card), class: 'btn' %>
  <%= link_to "Delete", card_path(@card),
              method: 'delete',
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger' %>
</div>
