<div class="page-header">
  <div class="row">
    <h1 class="span9"><%= @card.name %> <small><%= number_to_currency @card.rate, precision: 0 %></small></h1>
    <div class="span3">
      <%= link_to "Edit", edit_card_path(@card), class: 'btn' %>
      <%= link_to "Delete", card_path(@card),
        method: 'delete',
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger' %>
    </div>
  </div>
</div>

<%= form_for @stamp do |f| %>
  <%= f.hidden_field :card_id %>
  <%= f.error_messages %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= f.label :initials %></th>
        <th><%= f.label :note %></th>
        <th><%= f.label :duration %></th>
        <th><%= f.label :completed_at  %></th>
        <th><%= f.label :tags %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, f.object, class: "info") do %>
        <td><%= f.text_field :initials, class: 'text_field span1', required: true %></td>
        <td><%= f.text_field :note,     class: 'text_field span2' %></td>
        <td><%= f.text_field :duration, class: 'text_field span1', required: true %></td>
        <td>
          <%= f.date_select :completed_at,
            { use_short_month: true, order: [:day, :month, :year] },
            { class: 'date_select span1', required: true } %>
        </td>
        <td><%= f.text_field :tags,     class: 'text_field span2' %></td>
        <td><%= f.submit "Save Stamp",  class: 'btn btn-primary' %></td>
      <% end %>
      <% @card.stamps.each do |stamp| %>
        <%= content_tag_for(:tr, stamp) do %>
          <td><%= stamp.initials %></td>
          <td><%= stamp.note %></td>
          <td><%= stamp.duration %></td>
          <td><%= stamp.completed_at %></td>
          <td><%= stamp.tags %></td>
          <td>
            <%= link_to "Delete", stamp_path(stamp),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
